#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
#vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml

# WSL
*Zone.Identifier
/vendor/composer
/vendor
composer.lock
app/config
front-end/writable/debugbar/debugbar_1733543635.525054.json
front-end/writable/debugbar/debugbar_1733543663.840788.json
front-end/writable/debugbar/debugbar_1733543907.814538.json
front-end/writable/debugbar/debugbar_1733544247.680021.json
front-end/writable/debugbar/debugbar_1733544369.102842.json
front-end/writable/debugbar/debugbar_1733563315.332231.json
front-end/writable/debugbar/debugbar_1733563351.643005.json
front-end/writable/debugbar/debugbar_1733563354.402506.json
front-end/writable/debugbar/debugbar_1733563516.114317.json
front-end/writable/debugbar/debugbar_1733563583.997959.json
front-end/writable/debugbar/debugbar_1733563601.814728.json
front-end/writable/debugbar/debugbar_1733563612.746885.json
front-end/writable/debugbar/debugbar_1733563624.332611.json
front-end/writable/debugbar/debugbar_1733563634.303212.json
front-end/writable/debugbar/debugbar_1733563640.491515.json
front-end/writable/debugbar/debugbar_1733563642.593058.json
front-end/writable/debugbar/debugbar_1733563658.384927.json
front-end/writable/debugbar/debugbar_1733563661.527522.json
front-end/writable/debugbar/debugbar_1733563664.577035.json
front-end/writable/debugbar/debugbar_1733563667.195261.json
